#filedropzone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	color: black;
}

#filedropzone_empty {
	text-align: center;
	color: #bbb;
}

#filedropzone_filled {
	color: black;
	display: none;
}

#filebuttons {
	float: right;
}

canvas { cursor: move; }

.parametersdiv {
	border: 1px solid rgb(200,200,200);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

.parametersdiv .header {
	font-weight: bold;
}

.statusdiv {
	width: 1080px;
	margin-bottom: 10px;
}

body {
	font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 1080px;
	margin: 0 auto;
	padding: 10px;
}

pre, code, textarea {
	font: 12px/20px Monaco, monospace;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: #F9F9F9;
	padding: 0 3px;
	color: #555;
}
pre, textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}
textarea {
	height: 320px;
}
textarea:focus {
	outline: none;
}

canvas { cursor: move; }

.cancela,.cancela:link,.cancela:visited,.cancela:hover,.cancela:focus,.cancela:active{
	color: inherit;
	text-decoration: none;
}